.cart-btn{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background-color: #2F2926;
  border-radius: 50%;
  right: 12px;
  top: 12px;
  z-index: 5;
}

.qty-container{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22px;
  height: 22px;
  background-color: #E5674E;
  border-radius: 50%;
  top: 10px;
  right: 10px;
  z-index: 7;
}

.qty{
  color: #ffff;
  font-family: 'PT Serif', serif;
  font-weight: 600;
  font-size: 12px;
}