.cartItem-container{
  width: 280px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cartProduct-container{
  width: 200px;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.cartItem-title{
  font-family: 'PT Serif', serif;
  font-size: 20px;
  margin: 0;
  margin-bottom: 5px;
}

.cartItem-price{
  font-family: 'Work Sans', sans-serif;
  font-size: 12px;
  margin:0;
}

.count{
  font-family: 'Work Sans', sans-serif;
  font-size: 14px;
  margin:0;
}