.menu-item-container{
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.product-container{
  width: 200px;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.title,
.price{
  font-size: 23px;
  font-family: 'PT Serif', serif;
  margin:0;
  padding: 0;
}

.description{
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  font-size: 12px;
  margin: 0;
  padding: 0;
}

.btn-container{
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  background-color: black;
  border-radius: 50%;
}

.add{
  width: 60%;
}