.totalPrice-container{
  width: 300px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.priceText-container{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.total,
.price{
  font-family: 'PT Serif', serif;
  font-size: 20px;
  margin: 0 0 3px 5px;
}

.inclusive{
  font-family: 'Work Sans', sans-serif;
  font-size: 12px;
  margin:0 0 0 5px;
}