.landing-container{
  width: 375px;
  height: 667px;
  background-color: var(--airbean-green);
  display: flex;
  flex-direction: row;
  justify-content:space-between;
}

.logo-container{
  position: relative;
  width: 375px;
  height: 667px;
}

.logo{
  position: absolute;
  top: 16rem;
  left: -7rem;
  width: 17rem;
}
