.landing-container{
  width: 375px;
  height: 667px;
  background-color: #38846D;
  display: flex;
  flex-direction: row;
  justify-content:start;
}

.logo{
  width: 10%;
}
/* 
.graphic-left{
  display: inline;
}
.graphic-right{
  display: inline;
} */