.menu-container{
    position: relative;
    width: 375px;
    height: 839px;
    background-color: var(--airbean-pink);
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}

.menu{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 25px;
    margin-bottom: 50px;
}

.header{
    color: var(--airbean-brown);
    font-family: var(--airbean-ff-pt);
    font-weight: 700;
    font-size: 42px;
    margin: 0;
}
