.menu-container{
    width: 375px;
    height: 839px;
    background-color: #F3E4E1;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}

.menu{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 25px;
    margin-bottom: 40px;
}

.header{
    color: #2F2926;
    font-family:'PT Serif', serif ;
    font-weight: 700;
    font-size: 42px;
    margin: 0;
}
