.status-bg{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 375px;
  height: 667px;
  background-color: var(--airbean-orange);
}

.status-container{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 225px;
  height: 550px;
}

.order-no,
.order-eta{
  color: var(--airbean-white);
  font-family: var(--airbean-ff-work);
  text-align: center;
}

.minutes{
  font-family: var(--airbean-ff-work);
  font-weight: bolder;
}

.status-header{
  color: var(--airbean-white);
  text-align: center;
  margin-top: 70px;
}

.confirm-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 184px;
  height: 55px;
  background-color: var(--airbean-white);
  border-radius: 999px;
}

.confirm-text{
  color: var(--airbean-brown);
  font-family: var(--airbean-ff-pt);
  font-size: 24px;
  text-decoration:none;
}


